<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.18.0" targetFramework="net48" />
  <package id="Emgu.CV" version="4.6.0.5131" targetFramework="net48" />
  <package id="Emgu.CV.Bitmap" version="4.6.0.5131" targetFramework="net48" />
  <package id="Emgu.CV.UI" version="4.6.0.5131" targetFramework="net48" />
  <package id="Emgu.TF" version="2.8.0.1418" targetFramework="net48" />
  <package id="Emgu.TF.Models" version="2.8.0.1418" targetFramework="net48" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net48" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
</packages>